$themes: (
    default: (
        name: 'light',
        header: darken(white, 2.5%),
        header-top-bg: #382f59,
        header-top-color: #f1f1f1,
        logo: url('https://games.cdn4.dk/betshiba/betshiba-logo.png?auto=enhance&w=200'),

        /* Main Theme Accent Colors */
        secondary: #fe2977,
        secondary-alternative: #fe2977,

        /* Backgrounds for Tables/Containers */
        body: darken(white, 1%),
        content-bg-gradient: linear-gradient(to bottom,#382f59 220px, darken(white, 1%) 220px),
        wallet: lighten(#382f59, 20%),
        sidebar: darken(white, 4%),
        thumbnailbg: lighten(black, 1%),

        /* Text Colors & Theme Settings Mostly */
        text: #120f1c,
        text-opposite: white,
        border: darken(white, 2.5%),
        shadow: rgba(17, 51, 83, 0.02) 0 4px 12px 0,
        gamelabel: darken(white, 5%),
        link: #120f1c,
        link-hover: black,
        input: #f0f3f6,
        green: #27ae60,
        red: #e74c3c,
        violet: #d31d6e,
        textInverted: white,

        /* Ribbons (above chat and on daily free spin) */
        ribbon-bg-base: #fe2977,
        ribbon-text-base: #f1f1f1,

        /* Buttons */
        button-primary-text: #f1f1f1,
        button-primary-text-hover: black,
        button-primary-bg: #fe2977,
        button-primary-bg-hover: #2feae5,
        button-primary-border-radius: 2px solid #0000006e,
        button-primary-border-radius-hover: 2px solid #0000006e,
        button-secondary-text: black,
        button-secondary-text-hover: black,
        button-secondary-bg: darken(white, 10.5%),
        button-secondary-bg-hover: lighten(#2feae5, 10.5%),
        button-carousel-text: #f1f1f1,
        button-carousel-text-hover: white,
        button-carousel-bg: #fe2977,
        button-carousel-bg-hover: darken(#fe2977, 10.5%),

        selectorArrow: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    ),
    dark: (
        name: 'dark',
        header: darken(#303233, 2.5%),
        header-top-bg: #382f59,
        header-top-color: #f1f1f1,

        logo: url('https://games.cdn4.dk/betshiba/betshiba-logo.png?auto=enhance&w=200'),
        body: darken(#303233, 1.5%),

        content-bg-gradient: linear-gradient(to bottom,#382f59 220px, lighten(#303233, 0.4%) 220px),

        thumbnailbg: black,

        secondary: #fe2977,
        secondary-alternative: #fe2977,

        border: lighten(#303233, 0.5%),
        shadow: rgba(17, 51, 83, 0.05) 0 4px 12px 0,
        wallet: darken(#303233, 1.5%),
        text: white,
        text-opposite: black,
        sidebar: darken(#303233, 2.5%),
        gamelabel: darken(#303233, 20%),
        link: #a8a8a8,
        link-active: white,
        link-hover: #fbbe24,
        input: darken(#303233, 0.5%),
        green: #2ecc71,
        red: #e74c3c,
        violet: #d31d6e,
        textInverted: black,

        /* Ribbons (above chat and on daily free spin) */
        ribbon-bg-base: #fe2977,
        ribbon-text-base: white,

        /* Buttons */
        button-primary-text: #f1f1f1,
        button-primary-text-hover: black,
        button-primary-bg: #fe2977,
        button-primary-bg-hover: #2feae5,
        button-primary-border-radius: 2px solid #0000006e,
        button-primary-border-radius-hover: 2px solid #0000006e,
        button-secondary-text: black,
        button-secondary-text-hover: black,
        button-secondary-bg: darken(#2feae5, 1%),
        button-secondary-bg-hover: lighten(#2feae5, 3.5%),
        button-carousel-text: #f1f1f1,
        button-carousel-text-hover: white,
        button-carousel-bg: #fe2977,
        button-carousel-bg-hover: darken(#fe2977, 10.5%), 


        selectorArrow: url("data:image/svg+xml;utf8,<svg fill='white' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    )
);
//@import url('//cloud.typenetwork.com/projects/6217/fontface.css/');

$container-max-widths: (
    md: 720px,
    lg: 960px,
    xl: 1450px
);

$inner-content-max-width: 1395px;
$inner-content-margin: auto;

$header-margin: unset;
$header-max-width: unset;

$header-inner-margin: auto;
$header-inner-max-width: 1400px;
$header-position: sticky;

$carousel-max-width: 1400px;
$carousel-font-family: 'Proxima Soft Ex Bd';
$carousel-font-size: 1.5em;
$carousel-font-lineheight: 2.0;
$carousel-description-width: 25vw;
$carousel-description-min-width: 350px;
$button-carousel-border-radius: 16px;
$button-carousel-transition: all 0.3s ease;
$button-carousel-sans-serif: 'Proxima Soft Ex Bd', sans-serif;
$button-carousel-fontsize: 15px;




$button-primary-border-radius: 14px;
$button-primary-transition: all 0.3s ease;
$button-secondary-border-radius: 14px;
$button-secondary-transition: all 0.3s ease;
$button-family-sans-serif: 'Proxima Soft Med', sans-serif;
$button-fontsize: 12px;
$button-letter-spacing: 0.2px;

$livefeed-base-fontsize: 0.82rem;
$livefeed-base-fontweight: 500;
$livefeed-name-fontsize: 0.82rem;

$font-base-weight: 400;

$font-family-sans-serif: 'Proxima Soft Med', sans-serif;
$font-size-base: 0.84rem; 
$line-height-base: 1.5;
$body-letterspacing: 0.1px;

$input-btn-focus-box-shadow: none;
$btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

$sidebar-width: 55px;
$header-height: 70px;
$chat-width: 250px;


@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed_url($url, $extension) {
    //noinspection SassScssUnresolvedVariable
    @return url($url + '.' + map_get($theme_map, 'name') + '.' + $extension);
}

@function t($key) {
    //noinspection SassScssUnresolvedVariable
    @return map-get($theme-map, $key);
}
