@font-face {
    font-family: 'Nexa';
    src: url('NexaBold.woff2') format('woff2'),
        url('NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('NexaBlack.woff2') format('woff2'),
        url('NexaBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('Mont-Bold.woff2') format('woff2'),
        url('Mont-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('Mont-SemiBold.woff2') format('woff2'),
        url('Mont-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaRegular';
    src: url('NexaRegular.woff2') format('woff2'),
        url('NexaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

